@import 'vars';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Прижимаем footer к низу сайта
html,
body {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

// Внутри должен быть весь контент сайта кроме footer
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

// ===================
.footer {
  flex: 0 0 auto;
}

//  ==================

body {
  background-color: $bg;
  @include mont;
  font-weight: 700;
  font-size: 15px;
  color: $text;
}

a {
  text-decoration: none;
  color: $text;
  display: inline-block;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 710px;
  padding: 0px 10px;
  margin: 0 auto;
}

.container-fluid {
  min-width: 100%;
  margin: 0 auto;
}

.title {
  font-size: 44px;
}

.link {
  padding: 16px 26px;
  background-color: $viol;
  border-radius: 3px;
  font-size: 10px;
  transition: all .3s;
  color: $bg;
  text-transform: uppercase;

  &:hover {
    color: $text;
    background-color: $yellow;
  }
}