@import 'vars';
@import 'global';
@import 'fonts';

.header {
  min-height: 692px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 80px;
  border-bottom: 1px solid #f0a398;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 40px;
  margin-bottom: 125px;

  a {
    text-transform: uppercase;
    color: $bg;
  }
}

.header__logo {
  font-size: 30px;
}

.header__menu {
  &-links {
    .active {
      color: $yellow;
    }
  }

  li {
    display: inline-block;

    &+li {
      margin-left: 30px;
    }
  }

  a {
    font-size: 10px;
  }
}

.slider {
  position: relative;
}

.slider__title {
  font-size: 40px;
  color: #fff;
  max-width: 485px;
  margin-bottom: 30px;
}

.slider__text {
  font-size: 19px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  max-width: 470px;
  margin-bottom: 35px;
}

.slick-dots {
  position: absolute;
  bottom: -90%;

  li {
    display: inline-block;

    &+li {
      margin-left: 7px;
    }

    button {
      background-color: #a99599;
      padding: 0;
      font-size: 0;
      line-height: 0;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
    }
  }

  .slick-active {
    button {
      background-color: #fff;
    }
  }
}

// Introduction

.introduction__inner {
  border-bottom: 2px solid #e7e7e7;
  margin-bottom: 50px;
  padding-bottom: 55px;
}

.introduction__title {
  text-align: center;
  margin-bottom: 50px;
}

.introduction__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;

  &-text {
    font-size: 30px;
    color: $text;
    max-width: 440px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding-top: 15px;
  }
}

.introduction__thema-content {
  max-width: 162px;
  width: 100%;
  text-align: center;
}

.introduction__thema {
  display: flex;
  justify-content: space-between;

  &-images {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $viol;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #fff;
    transition: all .3s;
    margin-bottom: 22px;
    display: inline-flex;

    &:hover {
      fill: #000;
      background-color: $yellow;
    }
  }

  &-title {
    text-transform: uppercase;
    line-height: 40px;
    margin-bottom: 15px;
    color: $viol;
  }

  &-text {
    font-size: 13px;
    line-height: 23px;
    @include helv500;
    font-weight: 500;
    margin-bottom: 30px;
  }
}

// Projects

.projects__inner {
  margin-bottom: 80px;
}

.projects__inner-title {
  text-align: center;
  margin-bottom: 45px;
}

.wrapper__box {
  display: flex;
  justify-content: space-between;

}

.projects__box {
  width: 25%;

  &-images {
    min-height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

}

.projects__box-content {
  padding: 45px 30px 45px 40px;
  background-color: $grey;
  transition: all .3s;

  &:hover {
    background-color: $yellow;

    a {
      background-color: $viol;
      color: $grey;
      transition: all .3s;
    }
  }

  &-title {
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &-text {
    font-size: 13px;
    line-height: 23px;
    @include helv500;
    font-weight: 500;
    margin-bottom: 15px;
  }

  &-link {
    font-size: 10px;
    color: #323232;
    text-transform: uppercase;
    background-color: $bg;
    padding: 16px 23px;
    border-radius: 3px;
  }
}

// Pricing

.pricing__title {
  text-align: center;
  margin-bottom: 43px;
}

.pricing__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;

  &-content {
    text-align: center;

    &+.pricing__inner-content {
      border-left: 2px solid #e7e7e7;
      padding-left: 55px;
    }

    &-title {

      margin-bottom: 15px;

      span {
        display: block;
        text-transform: uppercase;
        color: #9d9d9d;
        margin-top: 20px;
      }
    }

    &-info {
      font-size: 10px;
      line-height: 22px;
      @include helv500;
    }

    &-link{
      text-transform: uppercase;
      padding: 9px 25px;
      margin-top: 20px;
    }
  }
}


// Slider Popup

.slider__popup{
  background-color: $viol;
  padding: 90px 0 115px;
  border-bottom: 1px solid #a091b0;
}

.slider__popup-title{
  color: #fff;
  text-align: center;
  margin-bottom: 45px;
}


.slider__content{
  .slick-slide,
  .slick-current,
  .slick-active,
  .slick-center {
    max-width: 690px;
    width: 100%;
    margin-right: 45px;
  }
}


.card{
  position: relative;

  a::before{
    content: '';
    position: absolute;
    background-image: url(../images/icon/play.svg);
    width: 120px;
    height: 120px;
    top: 160px;
    left: 280px;
    z-index: 5;
  }

  img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 460px;
  }

  &-body{
    display: flex;
    justify-content: space-between;
    color: #fefefe;
    font-size: 11px;
    margin-top: 20px;
  }
}


// Team section

.team{
  padding: 75px 0 135px;
}

.team__title{
  text-align: center;
  margin-bottom: 44px;
}

.team__inner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team__box{
  max-width: 175px;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 60px;
  text-align: center;
  position: relative;
  
    &-image{
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    
    
    &:hover{
      .team__box-image--links {
        display: block;
      }
    }

    &--links{
      display: none;
      position: absolute;
      z-index: 5;
      top: 0;
      border-radius: 50%;
      width: 175px;
      height: 175px;
      background-color: rgba($viol, .6);
      
      li{
        display: inline-block;
        margin-top: 45%;
        
        &+li{
          margin-left: 24px;
        }
      }
    }
  }

  &-name{
    margin-bottom: 13px;
  }

  &-profession{
    font-weight: 500;
  }
}

// slider life

.slider__life{
  padding: 80px 0 100px;
  background-color: $grey;
  border-bottom: 1px solid #e8e8e8;

  &-title{
    text-align: center;
    margin-bottom: 35px;
  }
}

.slider__life-main{
  margin-bottom: 14px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slider__life-nav{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  .slick-list.draggable{
    padding: 0 54px;
  }
}



.slick-prev,
.slick-next{
  position: absolute;
  bottom: -86px;
  padding: 0 9px;
  font: 500 0px Arial;
  z-index: 5;
  border: 1px solid #ccc;
  background-color: #2a2a2a;
  height: 72px;
  outline: none;
  cursor: pointer;
  transition: all .3s;

  &:hover{
    background-color: $viol;
  }
}

.slick-next{
  right: 0;
}

@import 'media';