@import 'vars';
@import 'global';
@import 'fonts';

.header {
  min-height: 692px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 80px;
  border-bottom: 1px solid #f0a398;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 40px;
  margin-bottom: 125px;
}

.header__logo {
  font-size: 30px;
}

.header__menu {
  &-links {
    .active {
      color: $yellow;
    }
  }

  li {
    display: inline-block;

    &+li {
      margin-left: 30px;
    }
  }

  a {
    font-size: 10px;
  }
}

.slider {
  position: relative;
}

.slider__title {
  font-size: 40px;
  color: #fff;
  max-width: 485px;
  margin-bottom: 30px;
}

.slider__text {
  font-size: 19px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  max-width: 470px;
  margin-bottom: 35px;
}

.slick-dots {
  position: absolute;
  bottom: -90%;

  li {
    display: inline-block;

    &+li {
      margin-left: 7px;
    }

    button {
      background-color: #a99599;
      padding: 0;
      font-size: 0;
      line-height: 0;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
    }
  }

  .slick-active {
    button {
      background-color: #fff;
    }
  }
}

// Introduction

.introduction__inner {
  border-bottom: 2px solid #e7e7e7;
  margin-bottom: 50px;
  padding-bottom: 55px;
}

.introduction__title {
  text-align: center;
  margin-bottom: 50px;
}

.introduction__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;

  &-text {
    font-size: 30px;
    color: $text;
    max-width: 440px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding-top: 15px;
  }
}

.introduction__thema-content {
  max-width: 162px;
  width: 100%;
  text-align: center;
}

.introduction__thema {
  display: flex;
  justify-content: space-between;

  &-images {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $viol;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #fff;
    transition: all .3s;
    margin-bottom: 22px;
    display: inline-flex;

    &:hover {
      fill: #000;
      background-color: $yellow;
    }
  }

  &-title {
    text-transform: uppercase;
    line-height: 40px;
    margin-bottom: 15px;
    color: $viol;
  }

  &-text {
    font-size: 13px;
    line-height: 23px;
    @include helv500;
    font-weight: 500;
    margin-bottom: 30px;
  }
}